HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- JAVA STANDARDS ---
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# --- MAVEN (Build tool común) ---
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# --- GRADLE (Build tool común) ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# --- INTELLIJ IDEA (IDE) ---
.idea/
*.iws
*.iml
*.ipr
out/
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

# --- ECLIPSE (IDE) ---
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.classpath
.project

# --- VISUAL STUDIO CODE (Editor) ---
.vscode/
*.code-workspace

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# --- SISTEMA OPERATIVO ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- SEGURIDAD ---
.env
